@model Analisis.BD.Proveedores

@{
    ViewBag.Title = "Eliminar Proveedor";
}

<h2>¿Estás seguro de que deseas eliminar este proveedor?</h2>

<div class="card mt-3 p-3">
    <h4 class="text-danger">@Model.nombre</h4>
    <dl class="dl-horizontal">
        <dt>Contacto</dt>
        <dd>@Model.contacto</dd>

        <dt>Correo</dt>
        <dd>@Model.correo</dd>

        <dt>Número</dt>
        <dd>@Model.numero</dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
    <button type="submit" class="btn btn-danger mt-3">Eliminar</button>
    @Html.ActionLink("Cancelar", "DetallesProveedor", null, new { @class = "btn btn-secondary mt-3 ms-2" })
}

